
.form1 {
  width: 100%;
  padding: 12px 20px;
  margin: 0;
}

.case1 {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  text-align: top;
}

.col-25 {
  float: left;
  width: 25%;
}

.col-75 {
  float: left;
  width: 75%;
  margin-bottom: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}